.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120px;

    label{
        font-family: $cormorantFont;
        font-weight: bold;
        font-size: 36px;
        line-height: 43px;
        margin-bottom: 15px;
    }

    input{
        font-family: $cormorantFont;
        font-weight: normal;
        font-size: 36px;
        line-height: 43px;
        text-align: center;

        width: 670px;
        background: transparent;
        border: none;
        border-bottom: 1px solid black;

        &:focus{
            outline: none;
        }
    }
}